/******************************************************************
=========================  ANPMail  V 1.0  ========================

Stylesheet: Mobile Device Stylesheet

******************************************************************/

body,table,td,p,a,li,blockquote {
  -webkit-text-size-adjust:none !important;
}

body {
	width:100% !important;
	min-width:100% !important;
}

// Table Styles
table {
  &[class=mcnTextContentContainer],
  &[class=mcnBoxedTextContentContainer] {
		width:100% !important;
	}

  &[id=masterMetaFooter] {
		margin-top: 5px;
	}
	&[class=mcpreview-image-uploader] {
		width:100% !important;
		display:none !important;
	}
	&[class=mcnImageGroupContentContainer] {
		width:100% !important;
	}

	&[class=mcnImageGroupBlockOuter] {
		padding-bottom:9px !important;
		padding-top:9px !important;
	}
	&[class=mcnCaptionTopContent],
	&[class=mcnCaptionBottomContent],
	&[class=mcnCaptionLeftTextContentContainer],
	&[class=mcnCaptionRightTextContentContainer],
	&[class=mcnCaptionLeftImageContentContainer],
	&[class=mcnCaptionRightImageContentContainer],
	&[class=mcnImageCardLeftTextContentContainer],
	&[class=mcnImageCardRightTextContentContainer] {
		width:100% !important;
	}
	&[class=mcnCaptionLeftContentOuter],
	&[class=mcnCaptionRightContentOuter] {
		& td[class=mcnTextContent] {
  		padding-top:9px !important;
		}
	}
	&[id=templateContainer],
	&[id=templatePreheader],
	&[id=templateHeader],
	&[id=templateBody],
	&[id=templateBodyInner],
	&[id=templateSidebar],
	&[id=templateFooter],
	&[id=templateColumns],
	&[class=templateColumn] {
		max-width:300px !important;
		width:100% !important;
	}
}

// Table Cell Styles
td {
	&[id=bodyCell] {
	  padding:10px !important;
  }
  &[class=mcnImageGroupContent] {
		padding:9px !important;
	}
  &[class=mcnImageGroupBlockInner] {
		padding-bottom:0 !important;
		padding-top:0 !important;
	}
	&[class=mcnImageCardBottomImageContent] {
		padding-bottom:9px !important;
	}
	&[class=mcnImageCardTopImageContent] {
		padding-top:18px !important;
	}
	&[class=mcnBoxedTextContentColumn],
	&[class=mcnTextContent] {
		padding-right:18px !important;
		padding-left:18px !important;
	}
	&[class=columnsContainer],
	&[class=sectionContainer] {
		display:block !important;
		max-width:300px !important;
		width:100% !important;
	}

	&[class=headerContainer] {
		display: block;
	}
	&[class=mcnImageCardLeftImageContent],
	&[class=mcnImageCardRightImageContent] {
		padding-right:18px !important;
		padding-left:18px !important;
		padding-bottom:0 !important;
	}
}
td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
	padding-top:18px !important;
}

// Image Stylings
img[class=mcnImage]{
	width:100% !important;
}

h1 {
	font-size:24px !important;
	line-height:125% !important;
}

h2 {
	font-size:20px !important;
	line-height:125% !important;
}

h4 {
	font-size:16px !important;
	line-height:125% !important;
}

h3,
table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent],
td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p,
td[class=headerContainer] td[class=mcnTextContent],
td[class=headerContainer] td[class=mcnTextContent] p,
td[class=sidebarContainer] td[class=mcnTextContent],
td[class=sidebarContainer] td[class=mcnTextContent] p,
td[class=bodyContainer] td[class=mcnTextContent],
td[class=bodyContainer] td[class=mcnTextContent] p,
td[class=leftColumnContainer] td[class=mcnTextContent],
td[class=leftColumnContainer] td[class=mcnTextContent] p,
td[class=rightColumnContainer] td[class=mcnTextContent],
td[class=rightColumnContainer] td[class=mcnTextContent] p {
	font-size:18px !important;
	line-height:125% !important;
}

table[id=templatePreheader],
td[class=footerContainer] a[class=utilityLink] {
	display:block !important;
}

td[class=preheaderContainer] td[class=mcnTextContent],
td[class=preheaderContainer] td[class=mcnTextContent] p,
td[class=footerContainer] td[class=mcnTextContent],
td[class=footerContainer] td[class=mcnTextContent] p {
	font-size:14px !important;
	line-height:115% !important;
}

table[id=templateSidebar],
table[id=templateSidebarInner]{
	border-left:0 !important;
	border-right:0 !important;
}


.bfDivider td {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.two-col {
	display: block;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.two-col.last-col {
	padding-left: 0 !important;
	padding-top: 20px;
}

.footerPadding {
	display: block;
	width: 100%;
	padding: 0;
}

.footerPadding div, .footerPadding p {
	padding: 5px 15px 5px 15px;
}

table[id=masterMetaFooter] {
	margin-top: 5px;
}