/******************************************************************
=========================  ANPMail  V 1.0  ========================

Stylesheet: Base Stylesheet

******************************************************************/
#outlook a{
	padding:0;
}
body{
	width:100% !important;
}
.ReadMsgBody{
	width:100%;
}
.ExternalClass{
	width:100%;
}
body{
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
}
body,#bodyTable,#bodyCell{
	height:100% !important;
	margin:0;
	padding:0;
	width:100% !important;
	font-family: 'Roboto','Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
}
table{
	border-collapse:collapse;
	border-spacing: 0;
}
table td {border-collapse:collapse;}
img, a img {
	border:0;
	outline:none;
	text-decoration:none;
	height:auto;
	line-height:100%;
	max-width: 600px;
	width: 100%;
}
h1,h2,h3,h4,h5,h6{
	color:$link-color;
	margin:0;
	padding:0;
	line-height: 100%;
}
/* Universal Paragraph Reset */
p {margin:0; padding:0; margin-bottom:0;}
p {
	margin:1em 0;
	padding:0;
}
a{
	word-wrap:break-word;
	color:$brightblue;
	font-weight:400;
	text-decoration:none;
}
.ReadMsgBody{
	width:100%;
}
.ExternalClass{
	width:100%;
}
.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
	line-height:100%;
}
table,td{
	mso-table-lspace:0pt;
	mso-table-rspace:0pt;
}
#outlook a{
	padding:0;
}
img{
	-ms-interpolation-mode:bicubic;
}
body,table,td,p,a,li,blockquote{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
#bodyCell{
	padding:20px;
}
.mcnImage{
	vertical-align:bottom;
}
.mcnTextContent img{
	height:auto !important;
}
.two-col{
	padding-right:15px;
}
.two-col.last-col{
	padding-right:0;
	padding-left:15px;
}
.single-col.last-col{
	margin-top:60px;
}
a[href^="tel"], a[href^="sms"] {text-decoration:none; color:#123963; pointer-events:none; cursor:default;}
.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration:default; color:#6e5c4f !important; pointer-events:auto; cursor:default;}
/*
@tab Page
@section background style
@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
*/
body,#bodyTable{
	background-color:#C9E5EF;
	background-image:url('replace-with-your-image-url.ext');
	background-repeat:repeat;
	background-position:top center;
}
/*
@tab Page
@section email border
@tip Set the border for your email.
*/
#templateContainer{
	border:0;
}
#templateInnerContainer{
	background-color:#ffffff;
	box-shadow:0px 0px 32px -15px #313233;
}
/*
@tab Page
@section heading 1
@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
@style heading 1
*/
h1{
	color:$link-color;
	display:block;
	font-family:'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:40px;
	font-style:normal;
	font-weight:normal;
	line-height:125%;
	letter-spacing:normal;
	margin:0;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom-width:1px;
	border-style:solid;
	border-color:$link-color;
	border-top:0;
	border-left:0;
	border-right:0;
	text-align:center;
}
/*
@tab Page
@section heading 2
@tip Set the styling for all second-level headings in your emails.
@style heading 2
*/
h2{
	color:$link-color;
	display:block;
	font-family: $roboto;
	font-size:24px;
	font-style:normal;
	font-weight:700;
	line-height:1;
	margin-bottom:10px;
	padding-bottom:0;
	text-align:center;
}
/*
@tab Page
@section heading 3
@tip Set the styling for all third-level headings in your emails.
@style heading 3
*/
h3{
	color: $brightblue;
	display:block;
	font-family: $roboto;
	font-size:18px;
	font-style:normal;
	font-weight:400;
	line-height:125%;
	letter-spacing:.25px;
	margin:0;
	text-align:center;
}

.h3-head {
	font-size: 24px;
	font-weight: 900;
	color: #343434;
}
/*
@tab Page
@section heading 4
@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
@style heading 4
*/
h4{
	color:$link-color;
	display:block;
	font-family: $roboto;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	line-height:125%;
	letter-spacing:normal;
	margin:0;
	text-align:justify;
}
/*
@tab Preheader
@section preheader style
@tip Set the background color and borders for your email's preheader area.
*/
#templatePreheader{
	border-top:0;
	border-bottom:0;
	margin-bottom:0;
}
/*
@tab Preheader
@section preheader text
@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/
.preheaderContainer div, .preheaderContainer .mcnTextBlock p{
	color:#b3b3b3;
	font-size:10px;
	line-height:125%;
}
/*
@tab Preheader
@section preheader link
@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
*/
.preheaderContainer .mcnTextBlock a{
	color:#4d4d4d;
	font-weight:normal;
	text-decoration:underline;
}
.preheaderContainer .textLeft{
	text-align:left;
}
.preheaderContainer .textRight{
	text-align:right;
}
/*
@tab Header
@section header style
@tip Set the background color and borders for your email's header area.
*/
#templateHeader{
	background-color:#FFFFFF;
	border-top:0;
	border-bottom:0;
}
/*
@tab Body
@section body style
@tip Set the background color and borders for your email's body area.
*/
#masterBody{
	background-color:#FFFFFF;
	border-top:0;
	border-bottom:0;
}
/*
@tab Body
@section body style
@tip Set the background color and borders for your email's body area.
*/
#templateSidebar{
	border-left:0;
}
/*
@tab Body
@section body text
@tip Set the styling for your email's body text. Choose a size and color that is easy to read.
*/
.bodyContainer .mcnTextBlock .bodyContainer .mcnTextBlock p{
	color:#4d4d4d;
	font-size:14px;
	line-height:150%;
	text-align:justify;
}
/*
@tab Body
@section body link
@tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
*/
.bodyContainer .mcnTextBlock a{
	color:$link-color;
	font-weight:normal;
	text-decoration:underline;
}
/*
@tab Sidebar
@section sidebar style
@tip Set the background color and borders for your email's sidebar area.
*/
#templateSidebar{
	background-color:#f2f2f2;
}
/*
@tab Sidebar
@section sidebar style
@tip Set the background color and borders for your email's sidebar area.
*/
#templateSidebarInner{
	border-left:0;
}
/*
@tab Sidebar
@section sidebar text
@tip Set the styling for your email's sidebar text. Choose a size and color that is easy to read.
*/
.sidebarContainer .mcnTextContent,.sidebarContainer .mcnTextContent p{
	color:#4d4d4d;
	font-size:12px;
	line-height:125%;
	text-align:justify;
}
/*
@tab Sidebar
@section sidebar link
@tip Set the styling for your email's sidebar links. Choose a color that helps them stand out from your text.
*/
.sidebarContainer .mcnTextContent a{
	color:#4d4d4d;
	font-weight:normal;
	text-decoration:underline;
}
#topBanner{
	background-color:$link-color;
}
#openingStatement{
	background-color:#fff;
	color:#4d4d4d;
	text-align:justify;
}
#openingStatement p{
	font-size:14px;
	line-height:1.25;

}
#monthlyUpdate{
	color:#4d4d4d;
	text-align:justify;
}
#monthlyUpdate p{
	font-size:14px;
	line-height:1.25;
	text-align:justify;
}
/*
@tab Columns
@section column style
@tip Set the background color and borders for your email's columns area.
*/
#guestSection{
	background-color:#fff;
	border-top:0;
	border-bottom:0;
}
/*
@tab Columns
@section left column text
@tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
*/
#guestSection{
	color:#4d4d4d;
	font-family: $source;
	font-size:14px;
	line-height:1.25;
	text-align:justify;
}
#guestSection br{
	display:block;
	height:14px;
	content:"";
}
#guestSection h3{
	border-bottom:1px solid lighten($color5, 60%);
	margin-bottom:15px;
	padding-bottom:15px;
}
#guestSection h4{
	color:#123963;
	font-size:18px;
	font-weight:400;
	line-height: 1.25;
}
#guestSection h5{
	color:#00B0EB;
	font-size:11px;
	font-weight:normal;
	margin-top:15px;
	padding-top:0;
	text-align:justify;
	font-style:italic;
}
#guestSection img.poster{
	margin-bottom:10px;
}
/*
@tab Columns
@section left column link
@tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
*/
.leftColumnContainer .mcnTextContent a{
	color:$link-color;
	font-weight:normal;
	text-decoration:underline;
}
/*
@tab Columns
@section right column text
@tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
*/
.rightColumnContainer .mcnTextContent,.rightColumnContainer .mcnTextContent p{
	color:#4d4d4d;
	font-family:Helvetica;
	font-size:14px;
	line-height:150%;
	text-align:justify;
}
/*
@tab Columns
@section right column link
@tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
*/
.rightColumnContainer .mcnTextContent a{
	color:$link-color;
	font-weight:normal;
	text-decoration:underline;
}
/*
@tab Footer
@section footer style
@tip Set the background color and borders for your email's footer area.
*/
#masterFooter{
	background-color:#123963;
}
/*
@tab Footer
@section footer text
@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
*/
#masterFooter div,#masterFooter p{
	color:#ffffff;
	font-size:10px;
	line-height:125%;
	text-align:justify;
}
.mfInfoSocial{
	position:relative;
	text-align:center;
	color: #123963;
		.sm-tagline{
			font-size: 15.7px;
		}

}
.mfInfoSocial p{
	font-size:18px;
}
.mfInfoSocial ul{
	margin:0;
	padding:0;
	list-style-type:none;
	display:inline;
}
.mfInfoSocial ul li{
	display:inline;
	padding-right: 5px;
}
.mfInfoSocial ul li:last-child{
	padding-right: 0px;
}

.mfInfoSocial ul li a{
	text-decoration:none;
	color:#ffffff;
}
.mfInfoSocial ul li a:hover{
	color:#ffffff;
}
.mfInfoEmail,.mfInfoWeb{
	padding-left:10px;
	margin-bottom:5px;
}
.mfInfoEmail a,.mfInfoWeb a{
	color:#ffffff;
	text-decoration:underline;
	font-weight:400;
}
.headerContainer .mfInfoSocial{
	text-align:right;
	vertical-align:top;
	padding-right: 15px;

}
.footerPadding{
	padding:5px 15px 30px;
}
#masterMetaFooter {
	background-color: #5DCBEC;
}
/*
@tab Footer
@section footer link
@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
#masterMetaFooter a{
	color:$link-color;
	font-weight:normal;
	text-decoration:underline;
}
/*
@tab Meta Footer
@section meta footer text
@tip Set the styling for your email's meta footer text. Choose a size and color that is easy to read.
*/
#masterMetaFooter div,#masterMetaFooter a{
	color:#fff;
	font-family:Helvetica;
	font-size:10px;
	font-weight:400;
	line-height:125%;
}
/*
@tab General Styles
@section StyleGuide
@tip Set the BFC Styles overall for the email.
*/
.sectionPadding{
	padding:60px 15px;
}
.sectionPadding.banner{
	padding:0;
}
.contentPlaceHolder{
	background:#e6e6e6;
	border:1px solid #d3d3d3;
	vertical-align:middle;
	text-align:center;
	padding:10px;
	color:#434343;
}
.orangeBTN,a.orangeBTN{
	font-family: $roboto;
	background-color:#fff;
	border-radius:3px 3px 3px 3px;
	border-bottom:2px solid darken(#fff, 30%);
	color:$brightgreen;
	font-weight:bold;
	padding:15px 20px;
	cursor:pointer;
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
	display:block;
	margin:0 auto;
	width:60%;
}
orangeBTN:hover,a.orangeBTN:hover{
	background-color:darken(#fff, 10%);
	border-bottom-color:darken(#fff, 40%);
	color:$brightgreen;
}
.fullWidthBTN{
	text-align:center;
	margin-top:20px;
}
.bfDivider{
	background-color:$brightblue;
	padding:40px 15px;
	text-align:center;
}
.bfDivider h2{
	color:#ffffff;
	font-weight:700;
	text-transform:uppercase;
	padding:0;
	margin:0;
}

.navlink {
	background-color: #123963;
	font-family: 'Roboto','Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 700;
}

.navlink {
	a{
		color: #fff;
		display: inline-block;
		height: 100%;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: 700;
	}
}

.navlink:hover {
	background-color: lighten(#123963, 10%);
}
.sm-navbar {
	td {
		border-right: 2px solid #0070A4;

	}
	td:last-child {
		border-right: none;
	}
}

.head-info {
	line-height: .2;
}

.bold-phone, .bold-phone a {
	font-weight: 900;
}

.greenbox, a.greenbox {
	background-color: $brightgreen;
}

.orangeBTN.greenbox {
	color: #fff;
	border-bottom-color:darken($brightgreen, 20%);
	width: 60%;
}
.orangeBTN.greenbox:hover {
	background-color:darken($brightgreen, 10%);
	border-bottom-color:darken($brightgreen, 40%);
	color: #fff;
}

.brightgreen {
	color: $brightgreen;
}

p.minired em {
	color: red;
	font-weight: 700;
	font-size: 12px;
}
