/******************************************************************
=========================  ANPMail  V 1.0  ========================

Stylesheet: Variables used in stylesheets

******************************************************************/

// Standards
$black:             #404040;
$white:             #ffffff;
$text-color:        $black;
$gray:              #eaedf2;
$light-gray:        #dfdfdf;
$meta-gray:         #9fa6b4;

// Client Color Palette - Dark to Light
$color1:            #404040; // Dark Gray
$color2:            #003360; // Dark Blue
$color3:            #0296ad; // Blue Teal
$color4:            #02a69d; // Dark Sea Green
$color5:            #343434; // dark black

$brightblue:        #00B0EB;
$brightgreen:       #6DB351;

// Define Links
$link-color:        $color5;
$link-hover:        darken($link-color, 9%);


//fontstack

$roboto:            'Roboto','Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
$source:            'Source Sans Pro', sans-serif;
